* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #003044;
}

.main .register #form {
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #214B5B;
    gap: 25px;
    padding: 25px;
    border-radius: 15px;
}

#form input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #04E17A;
    outline: none;
    color: whitesmoke;
    background-color: #1D4658;
    font-size: 15px;
}

#form input::placeholder {
    color: whitesmoke;
    font-size: 15px;
}

#form button {
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: #1ecc7b;
    border-radius: 10px;
    border: 1px solid #04E17A;
    transition: 0.5s;
}

#form button:hover {
    color: #04E17A;
    background-color: transparent;
}

select {
    padding: 15px;
    border: 1px solid #04E17A;
    border-radius: 5px;
    background-color: #1D4658;
    color: whitesmoke;
}


#form h4{
    color: white;
}
#form a{
    color:#04E17A ;
    text-decoration: none;
}